.card{
  max-width: 400px;
  margin: 5px;
  background-color: #FCFCFC;
  }

.card-header-title {
  font-size: 1.25rem;
}

.card-footer{
  background-color: #E6F5FF;
}

::ng-deep .snackBar-custom-sucess{
  background-color: #1F8F00;
  color: white;
}

.card-header-business{
  color: #D95204;
}

.card-header-category{
  font-size: 0.8rem;
}

.card-header-category-label{
  font-size: 0.8rem;
  font-weight: normal;
  margin-right: 5px;
  color: black;
}