.home-toolbar {
  background-color: #fcc37c;
  height: 8%;

  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.home-toolbar-title {
  color: #594a46;
  display: flex;
  align-items: center;
}

.home-toolbar-title img {
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.home-toolbar-spacer {
  flex: 1 1 auto;
}

.home-toolbar-button-row {
  display: table-cell;
  width: 60px;
}

::ng-deep .snackBar-custom-sucess {
  background-color: #1f8f00;
  color: white;
}
